<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fragments</title>
</head>
<body>
<div th:fragment="header">
  <header>
    <div class="container container_header">
      <div class="header_left">
        <img  th:src="@{/image/logo.png}"/>
        <p>Pizza ngon - Giá rẻ - Vận chuyển tận nhà</p>
      </div>
      <div class="header_right">
        <a href="#">
          <i class="fa-solid fa-basket-shopping"></i>
          <ul>
            <li>Giỏ hàng</li>
            <li>0 | 0đ</li>
          </ul>
        </a>
        <div class="register_login">
          <a href="#">Đăng nhập</a>/<a href="#">Đăng ký</a>
        </div>
      </div>
    </div>
  </header>
  <nav>
    <div class="container">
      <ul class="menu_main">
        <li >
          <a class="active" href="">Trang chủ</a>
        </li>
        <li>
          <a href="">Thực đơn</a>
          <div class="sub_menu">
            <ul>
              <li>
                <a href="#">Pizza</a>
              </li>
              <li>
                <a href="#l">Sườn BBQ</a>
              </li>
              <li>
                <a href="#">Mỳ ý</a>
              </li>
              <li>
                <a href="#">Salad</a>
              </li>
              <li>
                <a href="#">Đồ uống</a>
              </li>
              <li>
                <a href="#">Combo</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="#">Khuyến mại</a>
        </li>
        <li>
          <a href="#">Chính sách</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">Liên hệ</a>
          <ol>
            <li>Gọi điện ngay - Ship liền tay (24/7)</li>
            <li><i class="fa-solid fa-phone"></i>  (024) 36.888.777</li>
          </ol>
        </li>
      </ul>
    </div>
  </nav>
</div>


<div th:fragment="footer">
  <footer>
    <div class="footer_top">
      <img th:src="@{/image/footer_top/images/footer_top.png}" width="100%"/>
    </div>
    <div class="footer_bottom">
      <div class="container">
        <div class="information">
          <div class="logo">
            <img th:src="@{/image/logo.png}"/>
          </div>
          <h1>CÔNG TY TNHH PIZZA EXPRESS VIỆT NAM</h1>
          <p>
            Để đặt bánh pizza, vui lòng liên hệ tổng đài số: (024) 36.888.777 <br>

            Để phản ánh chất lượng dịch vụ, vui lòng gọi số: 0989.139.565 <br>

            Email: lienhepizzaexpress@gmail.com <br>

            Chính sách bảo mật thông tin cá nhân <br>

            Chính sách đổi/trả sản phẩm và hoàn tiền <br>

            Chính sách thanh toán <br>
          </p>
          <hr>
        </div>
        <div class="location">
          <div class="information">
            <img th:src="@{/image/footer_bottom/icon_1.png}" />
            <p>107 D3 Ngọc Khánh, Ba Đình</p>
            <a href=""><i class="fa-solid fa-location-arrow"></i>Xem trên bản đồ</a>
          </div>
          <div class="information">
            <img th:src="@{/image/footer_bottom/icon_2.png}" />
            <p>14 Ngõ 497 Nguyễn Trãi, Thanh Xuân</p>
            <a href=""><i class="fa-solid fa-location-arrow"></i>Xem trên bản đồ</a>
          </div>
          <div class="information">
            <img th:src="@{/image/footer_bottom/icon_3.png}" />
            <p>6 Đồng Bát, Cầu Giấy</p>
            <a href=""><i class="fa-solid fa-location-arrow"></i>Xem trên bản đồ</a>
          </div>
          <div class="information">
            <img th:src="@{/image/footer_bottom/icon_4.png}" />
            <p>52 Kim Đồng, Hoàng Mai</p>
            <a href=""><i class="fa-solid fa-location-arrow"></i>Xem trên bản đồ</a>
          </div>
        </div>
        <div class="information">
          <div class="notification">
            <img th:src="@{/image/footer_bottom/icon_5.png}">
            <p>Công ty TNHH Pizza Express Việt Nam Số ĐKKD: 0106675108 <br>
              Địa Chỉ: Số 352 Đường Bưởi, P.Vĩnh Phúc, Q.Ba Đình, TP.Hà Nội <br>
              Số điện thoại: 02436888777 <br>
              Email: lienhepizzaexpress@gmail.com</p> <br>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>
</html>