<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pizza Express Mỳ ý</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/style.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src='main.js'></script>
</head>
<body>

    <main>
        <div class="slider">
            <img src="../image/banner/banner1.png" width="100%"/>
        </div>
        <div class="container products">
            <h1>Thực đơn</h1>
            <ul class="menu">
                <li>
                    <a href="../layout/home_pizza.html">
                        <i class="fa-solid fa-pizza-slice"></i>
                        <p>Pizza</p>
                    </a>
                </li>
                <li>
                    <a href="../layout/home_suonbbq.html">
                        <i class="fa-solid fa-bowl-food"></i>
                        <p>Sườn BBG</p>
                    </a>
                </li>
                <li>
                    <a class="active" href="../layout/home_my_y.html">
                        <i class="fa-solid fa-bowl-rice"></i>
                        <p>Mì ý</p>
                    </a>
                </li>
                <li>
                    <a href="../layout/home_salad.html">
                        <i class="fa-solid fa-utensils"></i>
                        <p>Salad</p>
                    </a>
                </li>
                <li>
                    <a href="../layout/home_drinks.html">
                        <i class="fa-solid fa-martini-glass"></i>
                        <p>Đồ Uống</p>
                    </a>
                </li>
                <li>
                    <a href="../layout/home_combo.html">
                        <i class="fa-solid fa-futbol"></i>
                        <p>Combo</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container list_products">
            <!--Start-->
            <div class="product">
                <div class="info">
                    <a href="">
                        <img src="../image/products/mi_y/sp1.jpg" width="100%"/>
                    </a>
                    <div class="desc_product">
                        <h2 class="name_product">M1. SPAGHETTI BOLOGNESE</h2>
                        <div class="price">75.000</div>
                        <div class="option">
                            <div class="amount">
                                <label>Số lượng</label>
                                <select>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="Purchase">
                        <button type="submit">Mua hàng</button>
                    </div>
                </div>
            </div>
            <!--End-->
            <!--Start-->
            <div class="product">
                <div class="info">
                    <a href="">
                        <img src="../image/products/mi_y/sp2.jpg" width="100%"/>
                    </a>
                    <div class="desc_product">
                        <h2 class="name_product">M2. SPAGHETTI CARBONARA</h2>
                        <div class="price">75.000</div>
                        <div class="option">
                            <div class="amount">
                                <label>Số lượng</label>
                                <select>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="Purchase">
                        <button type="submit">Mua hàng</button>
                    </div>
                </div>
            </div>
            <!--End-->
            <!--Start-->
            <div class="product">
                <div class="info">
                    <a href="">
                        <img src="../image/products/mi_y/sp3.jpg" width="100%"/>
                    </a>
                    <div class="desc_product">
                        <h2 class="name_product">M3. SPAGHETTI SMOKE CHICKEN</h2>
                        <div class="price">75.000</div>
                        <div class="option">
                            <div class="amount">
                                <label>Số lượng</label>
                                <select>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="Purchase">
                        <button type="submit">Mua hàng</button>
                    </div>
                </div>
            </div>
            <!--End-->
            <!--Start-->
            <div class="product">
                <div class="info">
                    <a href="">
                        <img src="../image/products/mi_y/sp4.png" width="100%"/>
                    </a>
                    <div class="desc_product">
                        <h2 class="name_product">M4. SPAGHETTI RATATOUILLE</h2>
                        <div class="price">75.000</div>
                        <div class="option">
                            <div class="amount">
                                <label>Số lượng</label>
                                <select>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="Purchase">
                        <button type="submit">Mua hàng</button>
                    </div>
                </div>
            </div>
            <!--End-->
            <!--Start-->
            <div class="product">
                <div class="info">
                    <a href="">
                        <img src="../image/products/mi_y/sp5.jpg" width="100%"/>
                    </a>
                    <div class="desc_product">
                        <h2 class="name_product">M5. SPAGHETTI SEAFOOD</h2>
                        <div class="price">85.000</div>
                        <div class="option">
                            <div class="amount">
                                <label>Số lượng</label>
                                <select>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="Purchase">
                        <button type="submit">Mua hàng</button>
                    </div>
                </div>
            </div>
            <!--End-->
            <!--Start-->
            <div class="product">
                <div class="info">
                    <a href="">
                        <img src="../image/products/mi_y/sp6.jpg" width="100%"/>
                    </a>
                    <div class="desc_product">
                        <h2 class="name_product">M6. SPAGHETTI SHRIMP</h2>
                        <div class="price">75.000</div>
                        <div class="option">
                            <div class="amount">
                                <label>Số lượng</label>
                                <select>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="Purchase">
                        <button type="submit">Mua hàng</button>
                    </div>
                </div>
            </div>
            <!--End-->
        </div>
    </main>
</body>
</html>